.abourContainer{

}

.nameContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    background-image: url("https://automotive.maindsteel.com.mx/assets/global/img/proceso/corte-laser-fondo-principal.jpg");
    background-position: center;
}

.nameContainer h1{
    font-size: 100px;
    color: #ffffff;
}